<div class="container bg-white">
  <div class="user-full_name text-center"><%= @user.full_name %> <%= @user.user_name.present? ? "(@#{@user.user_name})" : '' %></div>

  <ul class="nav nav-tabs" id="user-<%= @user.id %>" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="true">Albums</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
    </li>
  </ul>
  <div class="tab-content" id="user-<%= @user.id %>-content">
    <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
      <div class="row mt-1">
        <% @albums.each do |album| %>
          <div class="album col-md-2">
            <div class="card mb-2 box-shadow align-items-center">
              <a href="<%= (@user.user_name.present? ? user_album_path(@user.user_name, album) : user_album_path(@user, album)) %>" class="d-flex flex-column w-100 text-center">
                <%= fa_icon 'folder-open', class: 'fa-3x text-secondary' %>
                <span class="text-secondary" title="<%= album.name %>"><%= album.name %></span>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">
      <div class="row mt-1">
        <% @photos.each do |photo| %>
          <div class="photo">
            <%= link_to image_tag(photo.image_url(:thumb_150).to_s), photo.image_url.to_s, data: { fancybox: "photo", caption: (render 'photos/caption', photo: photo) } %>
          </div>
        <% end %>
      </div>
      <%= paginate @photos %>
    </div>
  </div>
</div>
