<div class="container bg-white">
  <div class="user-full_name text-center"><%= @user.full_name %> <%= @user.user_name.present? ? "(@#{@user.user_name})" : '' %></div>

  <ul class="nav nav-tabs" id="user-<%= @user.id %>" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="true">Albums</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
    </li>
  </ul>
  <div class="tab-content" id="user-<%= @user.id %>-content">
    <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
      <%= render 'albums_tab' %>
    </div>
    <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
      <%= render 'photos_tab' %>
      <%= paginate @photos %>
    </div>
  </div>
</div>
