<div class="container">


  <div class="d-flex align-items-center p-3 my-3 rounded box-shadow bg-light">
      <h6 class="mb-0 mr-1"><%= link_to (fa_icon 'arrow-circle-left', class: 'text-primary fa-2x', title: 'Back to album'), album_path(@album) %></h6>
      <h6 class="mb-0 text-primary">Edit <%= @album.name %></h6>
  </div>


  <%= form_with scope: :album, url: @album, method: :patch, remote: true do |f| %>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex w-75 justify-content-between">
        <div class="form-group rounded box-shadow w-50 bg-light text-center">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
        </div>

        <div class="form-group rounded w-25">
          <div class="onoffswitch">
            <%= f.check_box :private, checked: (@album.private_album? ? true : false), class: 'onoffswitch-checkbox', id: 'myonoffswitch' %>
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="d-flex w-75 justify-content-between">
        <div class="form-group rounded box-shadow w-50 bg-light text-center">
          <%= f.label :description %>
          <%= f.text_area :description, autocomplete: "description", class: 'form-control' %>
        </div>

        <div class="actions w-25">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>


