<div class="container h-100">
  <%= link_to (fa_icon 'plus-circle', class: 'fa-5x text-success create-new-album'), new_album_path, remote: true, data: { toogle: 'modal', target: '#exampleModal'} %>


  <div class="albums row pt-3">
    <% @albums.each do |album| %>
      <div class="album col-md-2">
        <div class="card mb-2 box-shadow align-items-center">
          <a href="<%= album_path(album) %>" class="d-flex flex-column w-100 text-center">
            <%= fa_icon 'folder-open', class: 'fa-5x text-success' %>
            <span class="text-success" data-toggle="tooltip" data-placement="top" title="<%= album.name %>"><%= album.name %></span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
