<div class="container-fluid h-100">
  <%= link_to (fa_icon 'plus-circle', class: 'fa-5x text-success add-new-photos'), new_album_photo_path(@album), remote: true, data: { toogle: 'modal', target: '#AddPhotos'} %>
  <div class="album-info d-flex justify-content-around align-items-center bg-secondary">
    <span class="badge badge-info"><%= @album.name %></span>
    <% if @album.description.present? %>
      <span class="btn badge badge-info" data-toggle="collapse" href="#albumDescription" role="button" aria-expanded="false" aria-controls="albumDescription">Description</span>
    <% end %>
    <span><%= @album.public_album? ? (fa_icon 'unlock', class: 'text-success fa-2x', title: 'Public Album') : (fa_icon 'lock', class: 'text-danger fa-2x', title: 'Private Album') %></span>
    <span><%= link_to (fa_icon 'edit', class: 'text-success fa-2x'), edit_album_path(@album) %></span>
    <span class="delete-album-button"><%= link_to (fa_icon 'trash', class: 'text-danger fa-2x'), album_path(@album), method: :delete, onclick: 'showDeleteSpinner();' %></span>
    <span class="spinner" style="display:none;">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </span>

  <% if @album.description.present? %>
    <div class="collapse multi-collapse" id="albumDescription">
      <div class="card card-body">
        <%= @album.description %>
      </div>
    </div>
  <% end %>

  <div class="photos row pt-3">
    <%= render user_album_photos, from_album: true %>
  </div>
  <%= paginate user_album_photos, class: 'd-flex' %>
</div>

<div class="modal fade" id="AddPhotos" tabindex="-1" role="dialog" aria-labelledby="addPhotosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPhotosLabel">Add photos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add-photos">Add</button>
      </div>
    </div>
  </div>
</div>
