<span><%= link_to 'edit', edit_album_path(@album) %> </span>
<span><%= link_to 'x', album_path(@album), method: :delete %> </span>
<div><%= @album.id %></div>
<div><%= @album.name %></div>
<div><%= @album.description %></div>
<div><%= @album.private %></div>
<div><%= @album.user.full_name %></div>

<%= link_to 'add photo', new_album_photo_path(@album) %>

<% @photos.each do |photo| %>
  <div>
    <%= link_to image_tag(photo.image_url(:thumb).to_s), album_photo_path(@album, photo) %>
    <span><%= link_to 'x', album_photo_path(@album, photo), method: :delete %> </span>
  </div>
<% end %>
