<div class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= I18n.t('.idols') %>:</h6>
    <% @idols.each do |user| %>
      <div class="media text-muted pt-3" id="user-<%= user.id %>">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark"><%= link_to (user.user_name.present? ? "#{user.full_name} (#{user.user_name})" : user.full_name), (user.user_name.present? ? user_path(user.user_name) : user_path(user.id)) %></strong>
            <div class="subscription-link">
              <% if current_user.idol?(user.id) %>
                <%= link_to I18n.t(".unfollow"), subscription_path(user), method: :delete, remote:true %>
              <% else %>
                <%= link_to I18n.t(".follow"), subscriptions_path(idol: user), method: :post, remote:true %>
              <% end %>
            </div>
          </div>
          <% if user.user_name.present? %>
            <span class="d-block">@<%= user.user_name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
