<!DOCTYPE html>
<html>
  <head>
    <title>Homka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=5">
  </head>

  <body>
    <div class="main">
      <div class="header">
        <%= render 'layouts/header'  %>
      </div>
      <div class="content"  <%= current_page?(root_path) && current_user ? 'onscroll=fScroll();' : '' %> >
        <% if notice %>
          <%= render 'layouts/alert', error: notice, class: 'warning' %>
        <% end %>
        <% if alert %>
          <%= render 'layouts/alert', error: alert %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
