<!DOCTYPE html>
<html>
  <head>
    <title>Homka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <%= render 'layouts/header'  %>
      </div>
      <div class="content">
        <div class="notice m-0 p-0"><%= notice %></div>
        <div class="alert m-0 p-0"><%= alert %></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
